<article class="reset-pass">
    <div class="reset-pass__logo">
      <p>excellence</p>
    </div>
    <div class="reset-pass-card">
      <div class="reset-pass-card__forform">
        <div class="reset-pass-card__forform__title">
          <p>Reset Password</p>
        </div>
        <div class="reset-pass-card__forform__form">
          <form [formGroup]="form" (ngSubmit)="send_data()">
            <div class="input-wrapper">
                <p class="input-wrapper__para">Please enter your email </p>
            </div>
            <div class="input-wrapper">
                <input [type]="show ? 'text' : 'password'" formControlName="password" id="password" /> 
                
                <label for="password">PassWord</label>
                <span
                  *ngIf="
                    form.get('password').touched &&
                    form.get('password').hasError('required')
                  "
                  style="color: red"
                  >this field is required <br
                /></span>
                <span class="span_show" (click)="toggleShow()">{{show ? 'Hide' : 'Show'}}</span>
              
              </div>
            <div class="create">
              <button type="button" [disabled]="form.invalid" (click)="GoToLogin()">
                <p>Confirm</p>
                <p></p>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>
  
