@import "./../mixins";
@import "./../variables";
.modal_portfolio {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $popup-color;
  @include flex(center);
}

.modal-content_portfolio {
  background-color: $bg-white-color;
  @include boxsize(92vh, 40vw);
  @include flex-directions(column);
  @include flex(center);
  border-radius: $border-redius;

  &__title {
    // position: relative;
    flex: 10%;
    @include flex-directions(column);
    @include boxsize(100%, 100%);
    div {
      @include boxsize(100%, 100%);
      display: flex;
      align-items: center;

      #title {
        @include font-size(text1_2);
        @include font-weight(meduim);
        position: relative;
        left: 10%;
      }
      &:nth-child(1) {
        padding-top: 5%;
        flex: 60%;
      }
    }
  }
  &__options {
    flex: 80%;
    position: relative;
    @include boxsize(100%, 85%);
    display: flex;
    justify-content: center;
    padding-top: 5%;
    form {
      @include boxsize(100%, 90%);
      @include flex-directions(column);
      .input-wrapper {
        @include boxsize(60%, 100%);
        position: relative;
        margin-bottom: 3%;
        &__para {
          margin-top: 2%;
          @include font-size(for_forms);
        }
        .span_show {
          position: relative;
          top: -70%;
          cursor: pointer;
        }
        input {
          border: none;
          border-bottom: 1.5px solid #ddd;
          @include boxsize(60%, 100%);
          @include font-size(for_forms);

          &:focus {
            outline: none;
          }
          &:focus + label {
            transform: translateY(-15px);
            @include font-size(for_forms);
            color: #333;
            @include flex(center);
          }
          &:valid {
            + .form-label {
              top: -1rem;
              font-size: 0.8rem;
            }
          }
        }

        label {
          @include font-size(for_forms);
          position: absolute;
          top: 0.5%;
          left: 0%;
          transition: all 0.2s ease-in-out;
          color: #999;
        }
        span {
          @include font-size(required);
          margin-top: 2%;
          display: flex;
          justify-content: end;
        }
        &:nth-child(3) {
          border-bottom: $border-bott;
          @include boxsize(40%, 100%);
          @include flex-directions(column);
        }
        &:nth-child(4) {
          @include flex-directions(column);
          // background-color: red;
          div {
            &:nth-child(1) {
              flex: 10%;
              @include boxsize(100%, 100%);
            }
            &:nth-child(2) {
              flex: 90%;
              @include boxsize(100%, 100%);
              textarea {
                min-width: 100%;
                max-width: 100%;
                max-height: 100%;
                min-height: 100%;
                resize: none;
                // @include boxsize(100px,)
              }
            }
          }
        }
        &:nth-child(5) {
          @include flex-directions(column);
          // background-color: red;
          div {
            &:nth-child(1) {
              flex: 10%;
              @include boxsize(100%, 100%);
            }
            &:nth-child(2) {
              flex: 90%;
              @include boxsize(100%, 100%);
              textarea {
                min-width: 100%;
                max-width: 100%;
                max-height: 100%;
                min-height: 100%;
                resize: none;
              }
            }
          }
        }
        &:nth-child(6) {
          @include boxsize(100%, 100%);
          @include flex(center);
          background-color: $input-color;
          border-radius: $border-redius;
          @include flex-directions(column);
          input[type="file"] {
            display: none;
          }
          label {
            @include flex-directions(column);
            @include boxsize(100%, 100%);
            cursor: pointer;
            img {
              @include boxsize(20%, 7%);
            }
            p {
                margin-top: 2%;
              @include font-weight(regular);
              @include font-size(for_forms);
            }
          }
        }

     
      }
    }
  }
  &__buttons {
    flex: 10%;
    position: relative;
    @include boxsize(100%, 100%);
    @include flex-directions(row);
    display: flex;
    justify-content: end;
    button {
      @include boxsize(45%, 15%);
      @include flex(center);
      border: none;
      border-radius: 7px;
      background-color: $secondary-color;
      margin-left: 3%;
      margin-right: 7%;
      cursor: pointer;
      p {
        @include boxsize(100%, 100%);
        @include flex(center);
        @include font-weight(bold);
        @include font-size(text0);
        color: $bg-white-color;
      }
      &:disabled {
        background-color: #002b5899;
      }
    }
  }
}

.title {
  flex: 50%;
  @include boxsize(100%, 100%);
  @include flex-directions(row);

  &__p {
    flex: 50%;
    @include flex(left);
    @include boxsize(30%, 100%);
    p {
      @include font-size(for_forms);
      @include font-weight(regular);
      color: #999;
    }
  }
  &__btn {
    flex: 50%;
    @include boxsize(100%, 100%);
    display: flex;
    justify-content: end;
    button {
      @include boxsize(100%, 10%);
      @include flex(center);
      border-radius: 50%;
      border: $border-btn;
      background-color: $bg-white-color;
      cursor: pointer;
      background-position: center;
      background-image: url("./../../assets/plus.png");
      background-repeat: no-repeat;
      background-size: 30%;
    }
  }
}
.input-wrapper-skills {
  flex: 50%;
  @include flex-directions(row);
  @include boxsize(100%, 100%);
  @include flex(left);
  .skill {
    @include flex(center);
    margin-left: 10%;
    p {
      border: $border-bott;
      border-radius: $border-redius;
      @include flex(center);
      padding: 5px;
      &:hover {
        color: $bg-white-color;
        background-color: $praimary-color;
        @include font-weight(meduim);
        cursor: pointer;
      }
    }
  }
  #reste {
    margin-left: 5%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $popup-color;
  @include flex(center);
  z-index: 1000;
}

.modal-content {
  background-color: $bg-white-color;
  @include boxsize(65vh, 40vw);
  @include flex-directions(column);
  @include flex(center);
  border-radius: $border-redius;

  &__title {
    position: relative;
    flex: 30%;

    @include flex-directions(column);
    @include boxsize(100%, 100%);
    div {
      @include boxsize(100%, 100%);
      display: flex;
      align-items: center;

      p {
        position: relative;
        left: 10%;
        @include font-size(for_forms);
      }
      #title {
        @include font-size(text1_2);
        @include font-weight(meduim);
      }
      &:nth-child(1) {
        padding-top: 5%;
        flex: 60%;
      }
      &:nth-child(2) {
        flex: 40%;
      }
    }
  }
  &__options {
    flex: 50%;
    @include boxsize(100%, 75%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: $border-bott;
    border-bottom: $border-bott;
    padding-top: 5%;
    div {
      @include boxsize(30%, 100%);
      @include flex-directions(row);
      p {
        @include font-weight(meduim);
        @include font-size(text1);
      }
    }
  }
  &__buttons {
    flex: 20%;
    @include boxsize(100%, 100%);
    @include flex-directions(row);
    display: flex;
    justify-content: end;
    button {
      @include boxsize(30%, 20%);
      @include flex(center);
      border: none;
      border-radius: 7px;
      background-color: $secondary-color;
      margin-left: 3%;
      margin-right: 3%;
      cursor: pointer;
      p {
        @include boxsize(100%, 100%);
        @include flex(center);
        @include font-weight(bold);
        @include font-size(text0);
        color: $bg-white-color;
      }
    }
  }
}
