@import "../Variables/mixins";
@import "../Variables/variables";

.login {
  background-color: $secondary-color;
  @include boxsize(98vh, 100%);
  @include flex(center);
  @include flex-directions(column);

  &__logo {
    flex: 10%;
    @include boxsize(100%, 100%);
    display: flex;
    align-items: center;
    p {
      @include font-size(titre_nav);
      @include font-weight(bold);
      color: $bg-white-color;
      padding-left: 5%;
    }
  }
  &-card {
    flex: 90%;
    @include boxsize(100%, 100%);
    @include flex(center);
    padding-top: 2%;

    &__forform {
      @include boxsize(55%, 40%);
      @include flex(center);
      @include flex-directions(column);
      background-color: $bg-white-color;
      border-radius: 10px;

      &__title {
        @include boxsize(100%, 100%);
        align-items: center;
        display: flex;
        padding-left: 10%;
        flex: 20%;
        p {
          @include font-size(text2);
          @include font-weight(bold);
          color: $secondary-color;
        }
      }
      &__form {
        @include boxsize(100%, 100%);
        @include flex-directions(column);
        display: flex;
        justify-content: center;
        flex: 80%;

        form {
          @include boxsize(50%, 80%);
          @include flex-directions(column);
          flex: 40%;

          .input-wrapper {
            @include boxsize(15%, 100%);
            flex: 20%;
            position: relative;
            margin-bottom: 3%;

            &__para {
              margin-top: 2%;
              @include font-size(for_forms);
            }

              .span_show{
                position: relative;
                top: -70%;
                cursor: pointer;
              }


            input {
              border: none;
              border-bottom: 1.5px solid #ddd;
              @include boxsize(75%, 100%);
              @include font-size(for_forms);
              padding-top: 2%;

              &:focus {
                outline: none;
              }
              &:focus + label {
                transform: translateY(-15px);
                @include font-size(for_forms);
                color: #333;
                @include flex(center);
              }
              &:valid {
                + .form-label {
                  top: -1rem;
                  font-size: 0.8rem;
                  // color: #be1010;
                }
              }
            }

            label {
              @include font-size(for_forms);
              position: absolute;
              top: 1%;
              left: 0%;
              transition: all 0.2s ease-in-out;
              color: #999;
            }
            span {
              @include font-size(required);
              margin-top: 2%;
              display: flex;
              justify-content: end;
            }
          }
          
          .create {
            @include boxsize(100%, 100%);
            @include flex-directions(column);
            flex: 55%;
            display: flex;

            button {
              @include boxsize(30%, 45%);
              border: none;
              border-radius: 7px;
              background-color: $secondary-color;
              cursor: pointer;
              flex: 35%;
              p {
                @include boxsize(100%, 100%);
                @include flex(center);
                @include font-weight(bold);
                @include font-size(text1);
                color: $bg-white-color;
              }
              &:disabled {
                background-color: #002b5899;
              }
            }
            &__signin{
              @include boxsize(100%,100%);
              @include flex(center);
              flex: 65%;

            &__para {
              @include font-size(text0);
            }
            }
          }
        }
      }
    }
  }
}