
<!-- <div class="conatiner" [@scrollFromRight] > -->
    <!-- <div class="conatiner__nav">
        juhu
    </div> -->
    <!-- <div class="conatiner__table"> -->
        
<div class="container">
    <div id="value-box" class="clients">
        <!-- <i class='fas fa-bags-shopping'></i> -->
        <div class="text">
            <p>Clients</p>
        </div>
        <div class="value">
            <h4>{{ statistics.nb_clients}}</h4>
        </div>
        
    </div>
    <div id="value-box" class="admins">
        <!-- <i class='fas fa-bags-shopping'></i> -->
        <div class="text">
            <p>Admins</p>
        </div>
        <div class="value">
            <h4>{{statistics.nb_admins}}</h4>
    
        </div>
        
    </div>
    <div id="value-box" class="workers">
        <!-- <i class='fas fa-bags-shopping'></i> -->
        <div class="text">
            <p>Workers</p>
        </div>
        <div class="value">
            <h4>{{ statistics.nb_workers}}</h4>
    
        </div>
    
        
    </div>
    
    <div id="value-box" class="job">
        <!-- <i class='fas fa-bags-shopping'></i> -->
        <div class="text">
            <p>Jobs</p>
        </div>
        <div class="value">
            <h4>{{ nb_jobs.length }}</h4>
    
        </div>
        
    </div>
    
    </div>
    
    <!-- </div> -->

<!-- </div> -->

<!-- <div id="value-box" class="baned"> -->
    <!-- <i class='fas fa-bags-shopping'></i> -->
    <!-- <div class="text"> -->
        <!-- <p>Workers Baned</p> -->
    <!-- </div> -->
    <!-- 372 <div class="value"> -->
        <!-- <h4>{{statistics.nb_workers_baned}}</h4> -->

    <!-- </div> -->
    
<!-- </div> --> 