* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

.home-company__workers__filter {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  min-height: 80vh;
  border: 1.7px solid #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(247, 242, 242, 0.4352941176);
}
.home-company__workers__filter__title {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-company__workers__filter__title p {
  margin-left: 7%;
  font-size: 20pt;
  font-weight: 700;
}
.home-company__workers__filter__title button {
  margin-right: 10%;
  padding: 3%;
  height: 50%;
  width: 30%;
  background-color: #2b7b60;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14pt;
  cursor: pointer;
}
.home-company__workers__filter__title button:hover {
  background-color: rgba(62, 172, 135, 0.7490196078);
}
.home-company__workers__filter__filters {
  height: 100%;
  width: 100%;
  flex: 9;
}
.home-company__workers__filter__filters__container {
  position: relative;
  width: 100%;
  transition: width 0.3s ease;
}
.home-company__workers__filter__filters__container .toggle-button {
  background-color: #e0e0e0;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}
.home-company__workers__filter__filters__container .dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: #f8f8f8;
  transition: max-height 0.3s ease;
}
.home-company__workers__filter__filters__container .dropdown-content form {
  display: flex;
  flex-direction: column;
}
.home-company__workers__filter__filters__container .dropdown-content form label {
  margin-bottom: 5px;
}
.home-company__workers__filter__filters__container .dropdown-content form .filter-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home-company__workers__filter__filters__container .dropdown-content form .filter-list .filter-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.home-company__workers__filter__filters__container.open {
  width: 100%; /* Expanded width */
}
.home-company__workers__filter__filters__container.open .dropdown-content {
  max-height: 200px;
  overflow-y: scroll; /* Expanded height */
}

.home-company {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-company nav {
  flex: 50%;
  position: relative;
  height: 50%;
  width: 100%;
  margin-top: 6%;
}
.home-company nav img {
  margin-left: 7%;
  height: 80%;
  width: 85%;
}
.home-company__workers {
  flex: 70%;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
}
.home-company__workers__list {
  margin-left: 2%;
  flex: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  height: 100%;
  width: 100%;
}
.home-company__workers__list__search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.home-company__workers__list__search input {
  border: 1.7px solid #ddd;
  flex: 90%;
  height: 100%;
  width: 100%;
  padding-left: 3%;
  font-size: 14pt;
  border-radius: 10px 0 0 0;
}
.home-company__workers__list__search input:-moz-placeholder-shown {
  color: #002a58;
}
.home-company__workers__list__search input:placeholder-shown {
  color: #002a58;
}
.home-company__workers__list__search input::-moz-placeholder {
  font-size: 13pt;
}
.home-company__workers__list__search input::placeholder {
  font-size: 13pt;
}
.home-company__workers__list__search__filter {
  border: 1.7px solid #ddd;
  flex: 10%;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 0 10px 0 0;
  background-color: #2b7b60;
  color: #ffffff;
  font-size: 10pt;
}
.home-company__workers__list__table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  display: block;
  border: 1.5px solid #ddd;
  background-color: rgba(247, 242, 242, 0.4352941176);
  padding-left: 1%;
  padding-top: 1%;
  border-radius: 0 0 10px 10px;
}
.home-company__workers__list__pages {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 7vh;
  width: 100%;
  position: relative;
  background-color: rgba(247, 242, 242, 0.4352941176);
  border-top: none;
  border-radius: 10px;
  margin-top: 1%;
  border: 1.7px solid #ddd;
  padding-right: 5%;
}
.home-company__workers__list__pages button {
  height: 70%;
  width: 15%;
  border: none;
  border-radius: 10px;
  background-color: #002a58;
  color: #ffffff;
  font-size: 13pt;
  margin-left: 3%;
  cursor: pointer;
}
.home-company__workers__list__pages button:disabled {
  background-color: rgba(0, 43, 88, 0.3882352941);
}
.home-company footer {
  width: 100%;
  height: 40vh;
  margin-top: 2%;
  background-color: #002a58;
}/*# sourceMappingURL=accueil.component.css.map */