<article class="reset-pass">
    <div class="reset-pass__logo">
      <p>excellence</p>
    </div>
    <div class="reset-pass-card">
      <div class="reset-pass-card__forform">
        <div class="reset-pass-card__forform__title">
          <p>Reset Password</p>
        </div>
        <div class="reset-pass-card__forform__form">
          <form [formGroup]="form" (ngSubmit)="send_data()">
            <div class="input-wrapper">
                <p class="input-wrapper__para">Please enter your email </p>
            </div>
            <div class="input-wrapper">
              <input type="text" formControlName="email" id="email" required />
              <label for="email">Emial</label>
              <span
                *ngIf="
                  form.get('email').touched &&
                  form.get('email').hasError('required')
                "
                style="color: red"
                >this field is required 
                <hr>
              </span>
              <span
                *ngIf="
                  form.get('email').touched && form.get('email').hasError('email')"
                style="color: red">
                Invalid email format
              </span>
            </div>
            <div class="create">
              <button type="button" [disabled]="form.invalid" (click)="GoToConfirmCode()">
                <p>Next</p>
                <p></p>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>
  